# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ESLint cache
.eslintcache

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Build output
dist/
build/

# Test results
test-results/

# Environment variables
.env
.env.local
.env.*.local

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db