node_modules/
dist/
build/
*.log
.github/ISSUE_TEMPLATE/*.md
src/schemas/*.json
test-results/
src/vendor/ajv6.min.js
design/productRequirementsDocuments/*.md
design/codeStandards/*.md
README.md
src/data/client_embeddings.json
