node_modules/
dist/
build/
*.log
.github/ISSUE_TEMPLATE/*.md
design/productRequirementsDocuments/*.md
design/codeStandards/*.md
src/schemas/*.json
src/pages/quoteKG.html
test-results/
design/codeStandards/codeUIDesignStandards.md
src/schemas/*.json
