/* Define global CSS variables for colors, font sizes, spacing, and other reusable styles */
:root {
  --button-scale: 1.02;
  --scale-duration: 0.4s;
  --slide-track-speed: 40s;
  /* Colors */
  --primary-bg: #1c4b95;
  --secondary-bg: #0c3f7a;
  --text-color: white;

  /* Card-specific colors */
  /* --common-border-color: #3c5ad6; 
  --common-top-bar-bg: #0c3f7a;
  --common-stats-bg: #0c3f7a; 
  --common-signature-move-bg: #003b88; 
  --common-signature-move-text: #fed843; */

  /* Font sizes */
  --font-small: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.2rem;
  --font-extra-large: 3rem;

  /* Spacing */
  --padding-none: 0;
  --padding-small: 0.2rem;
  --padding-medium: 0.5rem;
  --padding-large: 1rem;
  --padding-extra-large: 2rem;

  /* Border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  /* Box shadow */
  /* --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Reset default browser styles for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noscript-warning {
  color: red;
  font-weight: bold;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* General body styles */
body {
  font-family: "Open Sans", sans-serif;
  /* background: linear-gradient(to bottom, var(--primary-bg), var(--secondary-bg)); */
  color: var(--text-color); /* Default text color */
  min-height: 100dvh;
  min-width: 100vw;
  background-image: url("./assets/images/bgTileBlue.png");
  background-repeat: repeat;
  /* backdrop-filter: brightness(0.9); */
  background-size: 50vw auto;
  /* border: solid 5px red; */
}

.home-screen {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  max-width: 100%;
  align-items: center;
}

.kodokan-screen {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100dvh;
  max-width: 100%;
  align-items: center;
}

.kodokan-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.helper-container {
  grid-column: 1/1;
  background-color: red;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #a71916;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.character-slot {
  height: 20px;
  background-color: #e8d9c3;
  opacity: 0.5;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  height: 5dvh;
}

.game-mode-grid {
  display: grid;
  grid-template-columns: auto minmax(300px, 25%);
  gap: 1rem 0;
  padding: 0 10vw;
  flex: 1 1 auto;
  min-height: 85%;
  /* border: 5px red solid; */
}

.game-tile {
  background: rgba(107, 107, 107, 0.5);
  border-radius: 8px 0 0 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1;
  flex: 1 1 auto;
  color: #fff;
  text-decoration: none;
}

.game-tile:hover {
  background: #880000;
  color: #fff;
}

.tile-content h2 {
  padding-left: var(--padding-large, 1rem);
  font-size: var(--font-large);
}
.locationTile {
  max-width: 100%;
  max-height: 36vh;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  flex: 1 1 auto;
  object-fit: contain;
  align-items: center;
}

.locationTileSmall {
  border-radius: 1rem;
  display: flex;
  flex: 1 1 auto;
  /* border: solid 5px red; */
  max-width: 10vh;
}

.locationTileSmall img {
  max-width: 10vh;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  flex: 1 1 auto;
}
.svgTile {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid 2px; */
}
svg {
  width: 10vh;
  aspect-ratio: 1 / 1;
  /* border: red solid 2px; */
  fill: #ffffff;
}
/* Button styles */
button {
  font-size: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
  text-decoration: underline;
}
/* Card styles */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-large);
  /*   background-color: seagreen; */
  min-height: 500px;
}

.judoka-card {
  position: relative;
  width: 300px;
  aspect-ratio: 2 / 3;
  border: max(13px, 1vh) solid var(--card-border-color);
  border: max(13px, 1dvh) solid var(--card-border-color);
  border-radius: var(--border-radius-large);
  background-color: var(--card-bg-color);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.1s ease-in-out;
}

.judoka-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/cardBacks/cardBack-2.png");
  background-size: cover;
  background-position: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.judoka-card.show-card-back::before {
  opacity: 1;
  pointer-events: auto;
}

.judoka-card:hover::before {
  opacity: 0;
  pointer-events: none;
}

.judoka-card:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/* Common card variables */
.judoka-card.common {
  --card-bg-color: #001749;
  --card-border-color: #003fab;
  --card-signature-move-bg: #0c3f7a;
  --card-stats-bg: #0c3f7a;
  --card-portrait-bg: #0c3f7a;
  --card-portrait-gradient-start: #00328d;
  --card-portrait-gradient-end: #002061;
}

/* Epic card variables */
.judoka-card.epic {
  --card-bg-color: #6a1b9a;
  --card-border-color: #9c27b0;
  --card-signature-move-bg: #003b88;
  --card-stats-bg: #0c3f7a;
  --card-portrait-bg: #0c3f7a;
  --card-portrait-gradient-start: #00328d;
  --card-portrait-gradient-end: #002061;
}

/* Legendary card variables */
.judoka-card.legendary {
  --card-bg-color: #0c3f7a;
  --card-border-color: #ffb74d;
  --card-signature-move-bg: #000;
  --card-stats-bg: #0c3f7a;
  --card-portrait-bg: #000;
  --card-portrait-gradient-start: #00328d;
  --card-portrait-gradient-end: #002061;
}

/* Top bar of the card (name and flag) */
.card-top-bar {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  padding: min(5px, 4vh) min(5px, 1vw);
  padding: min(5px, 4vh) min(5px, 1dvw);
  padding: min(5px, 4dvh) min(5px, 1vw);
  padding: min(5px, 4dvh) min(5px, 1dvw);
  flex-direction: row;
}

.card-name {
  text-align: left;
  flex-direction: column;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: left;
  max-width: 250px;
  min-width: 100px;
  flex: 1 1 0;
  margin-left: min(5px, 5dvw);
}

.card-name .firstname {
  font-size: min(5vw, 1.1rem);
  font-weight: normal;
  display: block;
}

.card-name .surname {
  font-size: min(6vw, 1.5rem);
  font-weight: bold;
  text-transform: uppercase;
}

.card-flag {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
  justify-content: right;
  max-width: 60px;
  min-width: 35px;
  flex: 1 1 0;
  margin-right: min(4px, 1.4vw);
}

.card-flag img {
  width: min(50px, 60dvw);
  height: auto;
  aspect-ratio: 3/2;
  max-width: 60px;
  border-radius: min(4px, 1vw);
  border: 1px solid #fff;
}
.card-portrait {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 220px;
  width: auto;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    var(--card-portrait-gradient-start),
    var(--card-portrait-gradient-end)
  );
}

.card-portrait img {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-weight-class {
  position: absolute;
  margin-top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-small);
  z-index: 2;
}

.card-weight-class::after {
  content: "kg";
  font-weight: normal;
  color: inherit;
}

.card-stats {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  padding: var(--padding-small) var(--padding-large);
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  font-size: var(--font-medium);
  flex-direction: column;
}

.card-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.card-stats li {
  margin: 0;
  padding: 3px min(1px, 0.6vh);
  border-top: 1px solid var(--card-border-color);
  text-transform: uppercase;
}

.card-stats li:last-child {
  border-bottom: 1px solid var(--card-border-color);
  margin-bottom: 0;
}

.card-stats .stat {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.card-stats .stat strong {
  text-align: left;
  width: 100%;
}

.card-stats .stat span {
  text-align: right;
}

.signature-move-container {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-height: 40px;
  font-weight: bold;
}

.signature-move-label {
  display: flex;
  background-color: #fff;
  width: 100%;
  color: #000;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #fff;
  white-space: nowrap;
  padding: min(10px, 2.3vw) 8px;
  font-size: min(14px, 4dvw);
  max-width: 150px;
  min-width: 90px;
  flex: 1 1 0;
  height: 100%;
  align-items: center;
}

.signature-move-value {
  display: flex;
  background-color: var(--card-signature-move-bg);
  width: 100%;
  height: 100%;
  color: #fed843;
  text-transform: uppercase;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid var(--card-signature-move-bg);
  white-space: nowrap;
  padding: min(5px, 2.3vw) 8px;
  font-size: min(12px, 4vw);
  max-width: 150px;
  flex: 1 1 0;
  align-items: center;
}

.card-profile .profile-link {
  display: inline-block;
  margin-top: var(--padding-large);
  padding: var(--padding-medium) var(--padding-large);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: var(--border-radius-small);
  transition: background-color 0.3s ease;
}

.card-profile .profile-link:hover {
  background-color: var(--button-hover-bg);
}
.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: rgba(34, 34, 59, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card-carousel {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;
  max-height: 90vh;
  max-height: 90dvh;
  /*   background-color: royalblue; */
}

.card-carousel::-webkit-scrollbar {
  height: 8px;
}

.card-carousel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.card-carousel::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll-button {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid #838383;
  border-radius: 50%;
  min-width: 2em;
  aspect-ratio: 1/1;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: background-color scale box-shadow 0.9s ease-in-out;
}

.scroll-button:hover {
  background-color: rgba(89, 0, 255, 0.9);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.judoka-card:target {
  outline: 2px solid #007bff;
  outline-offset: 4px;
}

.top-navbar {
  display: inline-flex;
  position: relative;
  top: 0;
  min-height: 2dvh;
  min-width: 100vw;
  justify-content: space-evenly;
  background-color: #22223b;
  color: #fff;
  text-align: center;
  padding: 1vh 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border: solid 1px #22223b;
  list-style-type: none;
  /* border: solid 5px red; */
}

.top-navbar ul {
  list-style: none;
}

.bottom-navbar {
  min-height: max(7vh, 12px);
  display: inline-flex;
  min-width: 100vw;
  background-color: #22223b;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  font-size: max(1.3rem, 1.8vw);
  /* border: solid 5px red; */
}

.bottom-navbar ul {
  display: inline-flex;
  gap: 2rem;
  list-style-type: none;
  /* text-transform: uppercase; */
}

.bottom-navbar a,
.top-navbar a {
  color: #fff;
  text-decoration: none;
}

.bottom-navbar a {
  position: relative;
  overflow: hidden;
}

.bottom-navbar a:hover {
  text-decoration: underline;
}

.country-flag-slider {
  background: rgba(0, 32, 82, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;

  /* &::before,
	&::after {
		content: "";
		height: auto;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	} */

  .country-flag-slide-track {
    animation: scroll var(--slide-track-speed) linear infinite;
    display: flex;
    /* width: calc(250px * 14); */
  }

  .slide {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3em 3dvw;
    text-align: center;
    max-width: 45vw;
    white-space: pre;
  }

  .flag-image {
    max-height: 5dvh;
    margin: 0.5rem;
    border-radius: 4px;
  }
}

.quote-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  background-color: saddlebrown;
}

.kg-sprite {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  padding: 5vh;
}

.kg-sprite img {
  width: auto;
  height: 100%;
  max-height: 85vh;
  object-fit: cover;
  overflow: hidden;
}

.quote-heading {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  align-self: center;
  justify-self: center;
  padding: 1rem;
}
.quote-content {
  color: #fff;
  font-size: 1rem;
  text-align: justify;
  align-self: center;
  justify-self: center;
  padding: 0 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}
