/* Define global CSS variables for colors, font sizes, spacing, and other reusable styles */
:root {
  --button-scale: 1.02;
  --scale-duration: 0.4s;
  --slide-track-speed: 40s;
  /* Colors */
  --primary-bg: #1c4b95;
  --secondary-bg: #0c3f7a;
  --text-color: white;

  /* Card-specific colors */
  /* --common-border-color: #3c5ad6; 
  --common-top-bar-bg: #0c3f7a;
  --common-stats-bg: #0c3f7a; 
  --common-signature-move-bg: #003b88; 
  --common-signature-move-text: #fed843; */

  /* Font sizes */
  /* --font-small: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.2rem;
  --font-extra-large: 3rem; */

  /* Spacing */
  /* --padding-none: 0;
  --padding-small: 0.2rem;
  --padding-medium: 0.5rem;
  --padding-large: 1rem;
  --padding-extra-large: 2rem; */

  /* Border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  /* Box shadow */
  /* --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Reset default browser styles for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noscript-warning {
  color: red;
  font-weight: bold;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Optional: Hide spinner by default with the hidden class */
.hidden {
  display: none;
}

