@import "./bottom-navbar.css";
@import "./buttons.css";
@import "./card.css";
@import "./navbar.css";
@import "./settings.css";
@import "./sidebar.css";
@import "./modal.css";
@import "./battle.css";
@import "./tooltip.css";
@import "./snackbar.css";

.debug-panel {
  background-color: #f9f9f9;
  border-radius: 10%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-family: monospace;
  font-size: 1rem;
  overflow-x: auto;
  text-align: left;
  max-width: 300px;
  margin: 5vh auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

#computer-card .debug-panel {
  margin: 0;
  max-width: none;
  width: 100%;
}

.layout-debug-outline {
  outline: 2px dashed red;
}

.display-mode-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.display-mode-option {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* reduce gap between radio and label */
}

.switch .slider.round {
  pointer-events: none;
}
