@import "./bottom-navbar.css";
@import "./buttons.css";
@import "./card.css";
@import "./navbar.css";
@import "./settings.css";
@import "./modal.css";
@import "./battle.css";
@import "./tooltip.css";
@import "./snackbar.css";

.debug-panel {
  background-color: #f9f9f9;
  border-radius: 10%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-family: monospace;
  font-size: 1rem;
  overflow-x: auto;
  text-align: left;
  max-width: 300px;
  margin: 5vh auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.layout-debug-outline {
  outline: 2px dashed red;
}
